#dependencies
node_modules

#config
config.codekit3
config.local.php
wp-config-local.php
wp-content/mu-plugins/wp-rest-cache.php
.env

#deploy
deploy/rsync.sh
deploy/copier.bat

#package-lock
package-lock.json

#htaccess
www/.htaccess


